.side-image {
  background-position: 0% 40%;
  background-size: 80% 88%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin-top: 40px;
  position: relative;
}
.topLeft-img,
.bottomRight-img {
  position: absolute;
  width: 320px;
  height: 320px;
}
.topLeft-img {
  top: 55px;
  left: 0px;
}
.bottomRight-img {
  bottom: 85px;
  right: 80px;
}
