.left-green {
  position: relative;
}
.left-green::after {
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  width: 185px;
  position: absolute;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  background-color: #5eb432;
}

.card-slider-bg {
  width: 100%;
  height: 80vh;
  margin-top: 30px;

  position: relative;
}
.card-slider-bg .blue-cut {
  position: absolute;
  z-index: 1;
  background-color: #245576;
  clip-path: polygon(0 30%, 0 100%, 100% 100%);
  bottom: 0;
  /* height: 68vh; */
  top: 0;
  left: 0;
  right: 0;
}
.card-slider-bg::before {
  content: "2022";
  position: absolute;
  transform: rotate(270deg);
  color: #3f6a87;
  font-size: 70px;
  bottom: 25%;
  left: 0px;

  margin-left: -40px;
  font-weight: 900;
  z-index: 2;
}
.card-slider {
  position: absolute;
  height: 68vh;
  /* top: 0; */
  /* bottom: 0%; */
  left: 0px;
  right: 0;
  z-index: 2;
}
.card-slider .slick-list {
  margin-left: 120px;
}
.card-slider .card {
  width: 300px;
  /* margin-left: 30px; */
  height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.card-slider .card .card-img-top {
  padding: 0;
  border-radius: 0;
}
.card-slider .card .card-img-overlay {
  padding: 10px;
}
.card-slider .card .card-img-overlay .card-date {
  display: flex;
  background-color: #5eb432;
  color: #ffffff;
  flex-direction: column;
  width: 35px;
  padding: 4px;
  text-align: center;
  border-radius: 2px;
  line-height: 1.4;

  font-family: "Open Sans", sans-serif;
}
.card-slider .card .card-img-overlay .card-date .date {
  font-size: 12px;
}
.card-slider .card .card-img-overlay .card-date .month {
  font-size: 8px;
  font-weight: lighter;
}
.card-slider .card .card-img-overlay .card-date .year {
  font-size: 8px;
  font-weight: 500;
}
.card-slider .card .card-img-overlay .card-tille {
  margin: 90px 10px;

  color: #ffffff;
  font-weight: 700;
}
.card-slider .card .card-body {
  padding-bottom: 20px;
}
.card-slider .card .card-body .card-text {
  text-align: center;
  padding: 15px 10px;
  /* height: 158px; */
  font-size: 13px;
  line-clamp: 6;
}
.card-slider .card .card-body .card-time {
  color: #5eb432;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  padding: 8px 10px;
  align-content: center;
}
.card-slider .arrow {
  position: absolute;
  padding: 12px 15px;
  border-radius: 4px;
  top: 0;
}
.card-slider .arrow-next {
  color: #245576;
  background-color: #f2f2f2;
  left: 56px;
}
.card-slider .arrow-prev {
  background-color: #245576;
  color: #ffffff;
  left: 0;
}
.card-slider .css-i4bv87-MuiSvgIcon-root,
.MuiSvgIcon-root {
  font-size: 16px !important;
}
